<html>


<head>
    <title>Agendamento</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/sucesso.css">

</head>

<body>
    <h2>
        Seu agendamento esta confirmado!
    </h2>
    <div class="icone">
        <i class="fa-solid fa-circle-check fa-5x" style="color: #06bc33;"></i>
    </div>

    <div class="dados">
        </br>
        <h4>Dados da agenda:</h4>
        </br>
        <p>
            Nome: <%= nome %>
        </p>
        <p>
            Horário: <%= horario %>
        </p>
        </br>
        <p class="obs">*Tire um print da sua tela</p>


    </div>


    <script src="https://kit.fontawesome.com/b04821f065.js" crossorigin="anonymous"></script>

</body>


</html>